.button-fetch {
    background-color: #635bff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  
  .button-fetch:hover {
    background-color: darkblue;
  }
  
  .button-fetch:disabled {
    background-color: #635bff;
    cursor: not-allowed;
  }
  
  #umap-viz {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #tooltip {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    pointer-events: none;
    z-index: 10;
  }

  .button-upload {
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  .button-upload:hover {
    background-color: darkblue;
  }
  
  .button-upload:disabled {
    background-color: blue;
    cursor: not-allowed;
  }

  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
  }

  .app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    
  }

  .main-content {
    margin-top: 80px; 
  }
  